* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

body {
    background-image: url(../img/base.jpg);
}

.wrapper {
    max-width: 1200px;
    margin: 70px 100px;

}

h1 {
    text-align: center;
    margin: 20px 0;
}

h3 {
    margin: 30px 0;
}

.panel {
    margin: 20px;
}
.panel-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 20px;
     
}
.panel-left,
.panel-right {
    overflow: hidden;
    text-align: center;
}

.panel-left p {
    font-size: 20px;
}

.panel h3 {
    text-align: center;
}

h1 {
        text-transform: uppercase;
    }
    

h3 {
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
}


.select {
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
}

.select img {
    width: 200px;
    height: 150px;
    margin: 20px;
    display: inline-block;

}

button {
    display: block;
    color: white;
    padding: 5px 20px;
    border: 2px solid grey;
    text-transform: uppercase;
    background-color: rgb(208, 117, 106);
    font-weight: bold;
    margin: 20px auto;
    transition: .3s;
    font-size: 30px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(208, 117, 106);
    color: black
}

span {
    font-weight: bold;
}